<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="PawnShopData" connectionString="Data Source=180.180.247.22/PawnShop;User Id=TOT;Password=root;Persist Security Info=True;" providerName="Oracle.DataAccess" />
    <add name="PawnAsset" connectionString="Data Source=180.180.247.22/PWAsset;User Id=TOT;Password=root;Persist Security Info=True;" providerName="Oracle.DataAccess" />
  </connectionStrings>    
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      
    </system.web>

</configuration>
